# Logs
*.log
npm-debug.log
yarn-error.log

# Runtime data
tmp
build
dist

# Dependency directory
node_modules


#Cocoapods
/examples/example1/Pods

#example src folder
/examples/example1/src

#android
build/
.idea
.gradle
local.properties
*.iml

#OSX
.DS_Store
src/.DS_Store
examples/example1/.DS_Store
dist